*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    display: flex;
    margin-top: -8px;
    margin-left: -10px;
    height: 650px;
    
}
#twitter_image{
    width: 54.3%;
}
#twitter_image img{
    height: 100%;
    width: 100%;

}
#txt_contents{
    /* margin-left: 20px; */
    padding-top: 43px;
    padding-left: 35px;


}
#twitter_logo img{
    width: 43px;
    margin-bottom: 5px;

}
#heading1{
    display: flex;
}
h1{
    font-size: 70px;
    margin-bottom: 10px;
}
#now{
    padding-left: 15px;
}
h2{
    font-size: 35px;
    margin-bottom: 25px;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sign_up{
    margin: 10px 0px 15px;
    width: 380px;
    height: 48px;
    background-color: white;
    border-radius: 50px;
    border-width: thin;
    border-color: rgba(50, 50, 50, .1);
    transition-timing-function:ease-in

}
.sign_up:hover{
    background-color: rgba(50, 50, 50, .1);


}
.btn_txt{
    margin-left: 10px;
    align-self: center;
    font-size: 15px;
    font-weight: 700;

}
#google_logo{
    height: 20px;

}
#apple_logo{
    height: 20px;
}

#disclaimer{
    font-size: 13px;
    margin-bottom: 20px;

}
.terms_link{
    color: rgba(53,188,243);
    text-decoration: none;
    font-weight: 450;

}
.terms_link:hover{
    text-decoration: underline;

}
#have_account{
    font-size: 15px;

}
#login{
    text-decoration: none;
    color: rgba(53,188,243);

}
footer{
    /* height: 7vh; */
    margin-top: 15px;

}
#nav{
    height: 100%;
    margin: 10px 35px 0px;
    display: flex;
    /* background-color: cornsilk; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;

}
.nav_link{
    text-decoration: none;
    color: rgba(0, 0, 0,.9);

}
.nav_link:hover{
    text-decoration: underline;
}
.footlist{
    font-size: 12.5px;
    font-weight: 320;
    padding: 3px;
}
@media all and (max-width: 1015px){
    body{
        display: flex;
        flex-direction: column;
    }
    main {
        flex-direction: column-reverse
    }
    main{
        order: 1;
    }
    footer{
        order: 2;
    }
    .footlist{
        font-size: 14px;
    }
    #twitter_image{
        /* order: 2; */
        width: 100%;
        height: 230px;
    }
    #txt_contents{
        /* order: 1; */
        align-self: center;

    }
    #heading1{
        flex-direction: column;
    }
    #now{
        padding: 0px;
        margin-top: 7px;
    }


    
}

